$showNavDuration: 0.3s;
$showNavEasing: $ease-in-out-sine;
$fullyExpandedNav: 1350px;

.toggle-nav-wrap {
	padding: 4px 0;
	text-align:center;
	.show-nav &,
	&:hover { background: rgba(0,0,0,0.5); }
}

.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	font-size:0;
	margin: 5px auto;
	color: #fff;
	height: 42px; width: 0;
	padding: 10px 10px 10px 30px;
	font-weight: 700;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
		
	.show-nav &,
	&:hover {
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $lightColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: transparent !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $lightColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

.nav-aside-wrap {
	@include flex( 0 0 $navSideWidth );
	width: $navSideWidth;
	position: relative;
	z-index: 40;
}

.nav-aside {
	position: fixed;
	top:0; left:0; right:0;
	margin: 0 auto;
	width: $pageWrapperWidth;
}

.nav-aside-content {
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( space-between );
	@include transform( translateZ(0) );
	position: absolute;
	top:0; left:0;
	width: $navSideWidth;
	height: 100vh;
	background: $darkBackgroundColor;
	border-right: 1px solid #fff;
	
	.fa-info-circle {
		padding: 12px 0;
		color: $mediumColor;
		font-size: 24px;
		display: block;
		&:hover { background: rgba(0,0,0,0.5); }
	}
	
	.fa-sitemap {
		display: block;
		text-align:center;
		padding: 12px 0;
		font-size: 12px;
		text-transform: uppercase;
		color: $mediumColor;
		height: 73px;
		&:before { 
			display: block; 
			font-size: 24px;
		}
		&:hover { background: rgba(0,0,0,0.5); }
	}
	
}

.page-wrapper { max-height: 100%; }

.nav {
	@include flex( 0 0 $navMainWidth );
	position: relative;
	z-index: 20;
	width: $navMainWidth;	
	background: #fff;
	
	&,
	.nav-bg:after {
		@include transition( 0.2s all $ease-in-out-sine );
	}
	
	.nav-bg {
		position: fixed;
		top:0; left:0; right:0; 
		margin: 0 auto;
		width: $pageWrapperWidth;
		max-width:100%;
		z-index: -1;
		
		&:after {
			content:"";
			top:0; left:$navSideWidth; 
			width: $navMainWidth;
			height: 100vh;
			background: #fff;
			display: block;
			position: absolute;
		}
	}
	
	ul {
	
		&>li { 
			position: relative; 
			&>a { 
				z-index: 2; 
				background: #fff;
			}
		}
	
		ul {
			@include transition( 0.15s all $ease-in-out-sine 0.1s );
			@include transform-origin( left center );
			@include transform( scale(0,1) );
			background: $mediumColor;
		
			position: absolute;
			z-index: -1;
			left: 100%; top:0;
			width: 100%;
		
			li {
				opacity:0;
				visibility: hidden;
				@include transition( 0.15s all $ease-in-out-sine 0s );
				
				&>a {
					display: block;
					padding: 9px 5px 9px 25px;
					color: $darkBackgroundColor;
					border-bottom: 1px solid rgba(0,0,0,0.1);
					background: transparent;
					&:hover { background: rgba(0,0,0,0.1); }
				}
				
			}
			
		}
		
		li:hover {
			ul { 
				@include transform( none ); 
				@include transition-delay( 0s );
			}
			li { 
				opacity:1; 
				visibility: visible;
				@include transition-delay( 0.15s );
			}
		}

	}
	
	@media screen and (max-width: $collapseNavAt) {
		ul ul { 
			position: static; 
			li { opacity:1; visibility: visible; }
		}
	}
	
}

.nav-logo {
	display:block;
	img { display: block; }
}

.nav-contact {
	font-size: 14px;
	padding: 30px 15px $footerHeight + 20px;
	position: relative;
	
	address {
		display: block;
		margin: 0 0 30px;
		span { 
			display:block;
			text-transform: uppercase; 
		}
	}
	
	.phone { 
		display: block; 
		margin: 0 0 8px;
		
		.label { 
			text-transform:uppercase;
			font-size:12px;
			font-weight: 700;
			display: block; 
		}
		
	}
	
	.button {
		margin: 15px 0;
	}
	
}

nav {

	&>ul {
		&>li {
			&>a {
				border: solid #f2f2f2;
				border-width: 1px 0;
				margin-top: -1px;
				display: block;
				padding: 15px;
				text-transform: uppercase;
				color: $darkColor;
				font-weight: 500;
				font-size: 14px;
				position: relative;
				
				&:after {
					@include fa-icon();
					@include transform( translateY( -50% ) );
					color: $mediumColor;
					content: $fa-var-angle-right;
					font-size: 32px;
					position: absolute;
					right: 10px; top: 50%;
					
				}
			}
			
			&:hover {
				&>a { 
					background: $mediumColor; 
					&:after { color: $darkColor; }
				}
			}
		}
	}
	
	@media screen and (max-width: $fullyExpandedNav) {
		.tours-drop {
			
			.package-img,
			.buttons,
			p { display: none; }
			
			.title {
				display: block;
				padding: 9px 5px 9px 25px;
				color: $darkBackgroundColor;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				background: transparent;
				&:hover { background: rgba(0,0,0,0.1); }
			}
			
		}
	}
	
	@media screen and (min-width: $fullyExpandedNav) {
	
		li:hover .tours-drop {
			@include transform( none );
		}
		
		.tours-drop {
			@include transform( scale(0,1) );
			position: absolute;
			top:0; left: - $navSideWidth;
			width:100vw;
			max-width: $pageWrapperWidth;
			padding-left: $navMainWidth + $navSideWidth;
			z-index: -1;
			
			&:after {
				@include transform( scale(1,0) );
				content:"";
				position: fixed;
				top:0; left:0; right:0; bottom:0;
				background: rgba(0,0,0,0.4);
				z-index: -1;
			}
			
			.package-img {
				display: block;
				&:after {
					content:"";
					display: block;
					padding: 0 0 56.25%;
					margin: 0 0 10px;
				}
			}
			
			ul,li {
				@include transition-delay( 0s !important );
			}
			
			ul {
				@include transform( none !important );
				@include display( flex );
				position: static !important;
				background: $darkBackgroundColor;
			}
				
			li { 
				@include flex( 1 0 0 );
				@include display( flex );
				width: 25%;
				opacity:1; 
				padding: 10px;
			}
				
			.package {
				@include flex( 1 1 auto );
				background: $darkBackgroundColor;
				color: #fff;
				text-align: center;
				padding: 10px;
			}
				
			.title {
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;
				padding:0;
				display:block;
				margin: 0 0 10px;
			}
				
			p {
				font-size: 13px;
				line-height: 1.4;
				margin: 0 0 10px;
				text-align:left;
			}

		}
	
	}
}

.show-nav {
	.nav { 
		left: 0 !important;
		.nav-bg:after { left: $navSideWidth !important; }
	}
}

@mixin collapsedNav() {

	.nav {
		&,
		.nav-bg:after { 
			left: - $navMainWidth; 
		}
	}
	
}

body.home {
	@include collapsedNav();
}

@media screen and (max-width: $fullyExpandedNav) {
	
	@include collapsedNav();
	
	.body-wrap {
		margin-left: - $navMainWidth;
	}

}

@media screen and (min-width: $fullyExpandedNav) {

	body:not(.home) {
		.toggle-nav-wrap { visibility: hidden; }
	}
	
}