/* hero */
.hero {
	
	position: relative;
	
	.swipe-item {
		@include display( flex );
		@include flex-flow( column nowrap );
		height: 100vh;
		min-height: 500px;
		background-color: $darkBackgroundColor;
	}
	
	&,
	.swipe-item {
		max-height: 700px;
		.home & { max-height: none; }
	}
	
	.swipe-item-bg {
		position: absolute;
		z-index: 1;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity:0;
		@include transition( opacity 0.25s $ease-in-out-sine );	
		left:0; right:0; bottom:0; top:0;
		&.loaded { opacity:0.6; }
		.home &.loaded { opacity:1; }
		
		iframe { width: 100%; height: 100%; }
	}
	
}

.home .body-wrap {

	@media screen and (max-width: $pageWrapperWidth) {
		position: fixed;
		top:0; left: $navSideWidth + $navMainWidth; right:0;
		width:auto;
	}

	@media screen and (max-width: $fullyExpandedNav) {
		left:0;
	}


}


.hero-content {
	width: 780px;
	max-width: 95%;
	margin: auto;
	text-align:center;
	position: relative;
	z-index: 2;
	
	.hero-title {
		font-size: 42px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 0 0 12px rgba(0,0,0,0.8);
	}
	
	.hero-hr {
		position: relative;
		&:after {
			content:"";
			position: absolute;
			left:0; right:0; top: 50%;
			margin-top: -1px;
			border-top: 2px solid #fff;
			z-index: 1;
		}
		
		span {
			z-index: 2;
			position: relative;
			background: $primaryColor;
			color: #fff;
			border: 2px solid #fff;
			width: 50px; height: 50px;
			line-height: 50px;
			font-size: 26px;
			display:block;
			border-radius: 25px;
			margin: 0 auto;
			
			&.obriens-f:before {
				display: block;
				margin: 0 auto;
				line-height: 50px;
			}
			
		}
	}
	
	.hero-subtitle {
		display: block;
		color: #fff;
		font-size: 18px;
		margin: 8px 0;
		text-shadow: 0 0 12px rgba(0,0,0,0.8);
	}

}