/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Variables used in this theme */
$navSideWidth: 90px;
$navMainWidth: 290px;
$footerHeight: 73px;


/* Theme Specific Colors that we can use below */
$primaryColor: #ee8927;
$secondaryColor: #000;
$lightColor: #fff;
$mediumColor: #efefef;
$darkColor: #2b2d2f;
$headingColor: #3c4142;

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg': #{$gridCollapseLarge},
	'md': #{$gridCollapseMedium},
	'sm': #{$gridCollapseSmall},
	'xs': #{$gridCollapseExtraSmall}
);

/* fonts */
$serifFontStack: georgia,garamond,serif;
$sansSerifFontStack: helvetica,arial,sans-serif;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Museo Sans,$sansSerifFontStack;

/* body */
$pageBackgroundColor: darken($darkColor,10);
$darkBackgroundColor: $darkColor;
$darkBackgroundContentColor: $mediumColor;
$sectionSeparatorColor: #fff;
$darkSectionSeparatorColor: #fff;
$separatorColor: darken(#e0e0e0,20);

$bodyContentColor: #3c4142;
$bodyBackgroundColor: darken($darkColor,10);

$wrapperWidth: auto;
$collapseNavAt: 720px;
$pageWrapperWidth: 2020px;

/* footer */
$footerBackgroundColor: $darkColor;
$footerContentColor: $mediumColor;
$footerLinkColor: $mediumColor;
$footerHoverColor: $mediumColor;

$copyrightBackgroundColor: transparent;
$copyrightContentColor: $darkColor;
$copyrightLinkColor: $darkColor;
$copyrightHoverColor: $primaryColor;
$copyrightSeparatorColor: $darkColor;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: #3c4142;

$h1Size: 42px;
$h2Size: 32px;
$h3Size: 28px;
$h4Size: 24px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	color: $headingColor;
	font-weight:700;
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	color: $lightColor;
	border-radius: $buttonBorderRadius;
	background-color: $primaryColor;
	padding: 12px 18px;
	border: 2px solid transparent;
	@include transition( 0.2s all $ease-in-out-sine );
	
	&.grey {
		background: darken($mediumColor,30);
	}
	
	&.big {
		font-weight:700;
	}
	
	&.outline {
		border-color: #fff;
	}
	
	&.block { 
		display: block;
		text-align: center;
	}
	
	&.sm {
		border-radius:0;
		padding: 5px 10px;
	}
	
}

@mixin buttonHover() {
	background-color: darken($primaryColor,10);
	color: $lightColor;
	
	&.grey {
		background: darken($mediumColor,40);
	}
}

/* article styles */
$sidebarWidth: 260px;
$sidebarCollapseWidth: 800px;

@mixin link-theme() {
	color: lighten($primaryColor,10);
	font-weight:600;
	display: inline-block;
	word-break: keep-all;
	position: relative;
	padding: 2px 4px;
	border-bottom: 1px solid $primaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: #fff; 
		border-color: #fff;
	}
	
	&,
	&:after {
		@include transition( 0.15s all $ease-in-out-sine );
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $primaryColor;
		
		@include transform-origin( center bottom );
		@include transform( scale(1,0) );
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: #fff;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: $primaryColor !important; }
	
	&:after { @include transform( none ); }	
}

@mixin link-visited-theme() {
	color: $darkBackgroundColor;
	border-color: $darkBackgroundColor;
	&:after {
		background-color: $darkBackgroundColor;
	}
	
	.d-bg &,
	.dark-bg & { color: #fff; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $darkBackgroundColor;
		@include transform( none ); 
	}
	
}

$bodyFontSize: 16px;
$bodyLineHeight: 1.6;

/* excerpts */
$excerptColor: $primaryColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: #fff;
$breadCrumbColorActive: #fff;
$breadCrumbColorHover: #fff;

/* forms */
$fieldBackgroundColor: $mediumColor;
$fieldTextColor: $darkColor;
$fieldPlaceHolderColor: $darkColor;
$fieldBorderColor: darken($mediumColor,10);
$fieldFocusedBackgroundColor: $lightColor;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	text-transform: uppercase;
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: $bodyContentColor;
$accHandleColorActive: #fff;

$accHandleBGColor: transparent;
$accHandleBGColorActive: $primaryColor;

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: #fff;

$accContentLinkColor: $bodyContentColor;
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: $darkBackgroundColor;
$filterBarContentColor: $darkColor;

$filterControlBackgroundColor: $secondaryColor;
$filterControlBackgroundColorActive: $darkColor;
$filterControlColor: $darkColor;
$filterControlColorActive: #fff;