.ov-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	border: 1px solid #fff;
	border-width: 1px 0;
	margin: 0 -1px -1px;
}

.ov-item {
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );
	@include flex( 1 0 auto );
	width: 33.3333%;
	position: relative;
	background: #000;
	border: 1px solid #fff;
	color: #fff;
	padding: 10px;
	min-height: 400px;
	overflow:hidden;
	
	&.half { width: 50%; }
	&.quarter { width: 25%; }
	
}

.ov-item-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 1;
	&.loaded { opacity: 0.5;  }
}

.ov-item-content {
	text-align: center;
	position: relative;
	z-index: 2;
	padding: 50px 10px;
}

.ov-title {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	position: relative;
	padding: 0 0 40px;
	
	&:after {
		content:"";
		position: absolute;
		bottom: 20px; left:0; right:0;
		margin: 0 auto;
		width: 70%;
		border-top: 2px solid #fff;
	}
	
	&:before {
		content:"";
		width: 18px; height: 18px;
		border-radius: 20px;
		background: $primaryColor;
		border: 2px solid #fff;
		display: block;
		left:0; right:0; bottom: 12px;
		position: absolute;
		z-index: 2;
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	.ov-grid { display: block; }
	.ov-item { 
		display: block; 
		width: auto !important; 
		min-height:0;
	}
}