/* search form */
.global-search-form {
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	background: rgba(0,0,0,0.8);
	z-index: -99;
	@include transition( 0.4s transform $ease-in-out-sine );
	@include transform( translate3d(0,-100%,0) );
	
	.show-search & {
		@include transform( translate3d(0,0,0) );
		z-index: 99;
	}
	
	.fieldset { 
		@include display( flex ); 
		position: absolute;
		top:0; left:0; right:0;
		width: $wrapperWidth; height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	
	input { 
		margin: auto; 
		background: transparent;
		font-size: 32px;
		font-family: $defaultFontStack;
		font-weight: 500;
		padding: 12px;
		border: 1px solid transparent;
		border-bottom-color: $lightColor;
		color: #fff;
		outline: none;
		width: 800px;
		max-width: 80%;
		min-width: 300px;
		font-weight: 300;
		@include appearance( none );

		&::-webkit-placeholder { 
			font-family: $defaultFontStack,-webkit-placeholder;
			color: #fff; 
			font-weight: 300;
		}

		&:-moz-placeholder { 
			font-family: $defaultFontStack,moz-placeholder;
			color: #fff; 
			font-weight: 300;
		}		

		&::-moz-placeholder { 
			font-family: $defaultFontStack,-moz-placeholder;
			color: #fff; 
			font-weight: 300;
		}	

		&:-ms-placeholder { 
			font-family: $defaultFontStack,-ms-placeholder;
			color: #fff; 
			font-weight: 300;
		}

		@media screen and (max-width: $collapseNavAt) {
			font-size: 22px;
		}

	}
	
	.close {
		position: absolute;
		top: 10px; right: 10px;
		font-size: 44px;
		text-align: center;
		line-height: 44px;
		cursor: pointer;
		width: 44px; height: 44px;
		color: $lightColor;
		font-weight: 300;
		overflow:visible;
		@include transition( 0.2s color $ease-in-out-sine 0.2s );
		border-radius: 22px;

		&:hover {
			background: $primaryColor;
			color: #fff;
			@include transition-delay( 0s );
		}
	}
	
}